<p-blockUI [blocked]="loading" [target]="panel">
  <i class="pi pi-spin pi-spinner" style="font-size: 3rem"></i>
</p-blockUI>
<div #panel class="flex align-items-center justify-content-center">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div *ngIf="error" class="flex align-items-center justify-content-center p-3">
      <p-message severity="error" text="Invalid credentials"></p-message>
    </div>
    <div class="flex align-items-center justify-content-center p-3">
      <span class="p-float-label">
        <input id="email" type="email" pInputText formControlName="email" />
        <label for="email">E-mail</label>
      </span>
    </div>
    <div class="flex align-items-center justify-content-center p-3">
      <span class="p-float-label">
        <input
          id="secret"
          type="password"
          pInputText
          formControlName="secret"
        />
        <label for="secret">Password</label>
      </span>
    </div>
    <div class="flex align-items-center justify-content-center p-2">
      <button
        pButton
        type="submit"
        label="Login"
        class="p-button-raised p-button-rounded"
        [disabled]="!form.valid || loading"
      ></button>
    </div>
    <div class="flex align-items-center justify-content-center p-2">
      <button
        pButton
        type="button"
        label="Create a new account"
        class="p-button-text"
        routerLink="/profile-form"
        [disabled]="loading"
      ></button>
    </div>
  </form>
</div>
